In [1]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [2]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [3]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [5]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
'max_features': ['auto','sqrt','log2'], 'splitter':['best', 'random']}
grid=GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True,verbose=3, n_jobs=1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits
[CV 1/5] END criterion=squared_error, max_features=auto, splitter=best;, score=0.730 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=auto, splitter=best;, score=0.650 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=auto, splitter=best;, score=0.729 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=auto, splitter=best;, score=0.692 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=auto, splitter=best;, score=0.661 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=auto, splitter=random;, score=0.699 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=auto, splitter=random;, score=0.606 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=auto, splitter=random;, score=0.714 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=auto, splitter=random;, score=0.722 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=auto, splitter=random;, score=0.677 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=sqrt, splitter=best;, score=0.729 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=sqrt, splitter=best;, score=0.645 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=sqrt, splitter=best;, score=0.722 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=sqrt, splitter=best;, score=0.696 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=sqrt, splitter=best;, score=0.685 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=sqrt, splitter=random;, score=0.684 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=sqrt, splitter=random;, score=0.583 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=sqrt, splitter=random;, score=0.632 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=sqrt, splitter=random;, score=0.690 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=sqrt, splitter=random;, score=0.646 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=log2, splitter=best;, score=0.515 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=log2, splitter=best;, score=0.468 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=log2, splitter=best;, score=0.768 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=log2, splitter=best;, score=0.717 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=log2, splitter=best;, score=0.669 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=log2, splitter=random;, score=0.681 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=log2, splitter=random;, score=0.587 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=log2, splitter=random;, score=0.700 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=log2, splitter=random;, score=0.642 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=log2, splitter=random;, score=0.709 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=0.726 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=0.645 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=0.720 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=0.735 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=0.683 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=0.665 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=0.645 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=0.771 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=0.706 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=0.718 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.737 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.603 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.676 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.626 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.713 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.577 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.551 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.589 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.557 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.653 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.724 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.583 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.460 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.744 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.714 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.639 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.477 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.721 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.668 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.676 total time=   0.0s
[CV 1/5] END criterion=absolute_error, max_features=auto, splitter=best;, score=0.712 total time=   0.0s
[CV 2/5] END criterion=absolute_error, max_features=auto, splitter=best;, score=0.617 total time=   0.0s
[CV 3/5] END criterion=absolute_error, max_features=auto, splitter=best;, score=0.703 total time=   0.0s
[CV 4/5] END criterion=absolute_error, max_features=auto, splitter=best;, score=0.713 total time=   0.0s
[CV 5/5] END criterion=absolute_error, max_features=auto, splitter=best;, score=0.720 total time=   0.0s
[CV 1/5] END criterion=absolute_error, max_features=auto, splitter=random;, score=0.701 total time=   0.0s
[CV 2/5] END criterion=absolute_error, max_features=auto, splitter=random;, score=0.658 total time=   0.0s
[CV 3/5] END criterion=absolute_error, max_features=auto, splitter=random;, score=0.716 total time=   0.0s
[CV 4/5] END criterion=absolute_error, max_features=auto, splitter=random;, score=0.704 total time=   0.0s
[CV 5/5] END criterion=absolute_error, max_features=auto, splitter=random;, score=0.664 total time=   0.0s
[CV 1/5] END criterion=absolute_error, max_features=sqrt, splitter=best;, score=0.662 total time=   0.0s
[CV 2/5] END criterion=absolute_error, max_features=sqrt, splitter=best;, score=0.539 total time=   0.0s
[CV 3/5] END criterion=absolute_error, max_features=sqrt, splitter=best;, score=0.675 total time=   0.0s
[CV 4/5] END criterion=absolute_error, max_features=sqrt, splitter=best;, score=0.675 total time=   0.0s
[CV 5/5] END criterion=absolute_error, max_features=sqrt, splitter=best;, score=0.692 total time=   0.0s
[CV 1/5] END criterion=absolute_error, max_features=sqrt, splitter=random;, score=0.672 total time=   0.0s
[CV 2/5] END criterion=absolute_error, max_features=sqrt, splitter=random;, score=0.609 total time=   0.0s
[CV 3/5] END criterion=absolute_error, max_features=sqrt, splitter=random;, score=0.754 total time=   0.0s
[CV 4/5] END criterion=absolute_error, max_features=sqrt, splitter=random;, score=0.758 total time=   0.0s
[CV 5/5] END criterion=absolute_error, max_features=sqrt, splitter=random;, score=0.609 total time=   0.0s
[CV 1/5] END criterion=absolute_error, max_features=log2, splitter=best;, score=0.732 total time=   0.0s

[CV 2/5] END criterion=absolute_error, max_features=log2, splitter=best;, score=0.533 total time=   0.0s
[CV 3/5] END criterion=absolute_error, max_features=log2, splitter=best;, score=0.695 total time=   0.0s
[CV 4/5] END criterion=absolute_error, max_features=log2, splitter=best;, score=0.631 total time=   0.0s
[CV 5/5] END criterion=absolute_error, max_features=log2, splitter=best;, score=0.640 total time=   0.0s
[CV 1/5] END criterion=absolute_error, max_features=log2, splitter=random;, score=0.677 total time=   0.0s
[CV 2/5] END criterion=absolute_error, max_features=log2, splitter=random;, score=0.500 total time=   0.0s
[CV 3/5] END criterion=absolute_error, max_features=log2, splitter=random;, score=0.627 total time=   0.0s
[CV 4/5] END criterion=absolute_error, max_features=log2, splitter=random;, score=0.690 total time=   0.0s
[CV 5/5] END criterion=absolute_error, max_features=log2, splitter=random;, score=0.682 total time=   0.0s
[CV 1/5] END criterion=poisson, max_features=auto, splitter=best;, score=0.708 total time=   0.0s
[CV 2/5] END criterion=poisson, max_features=auto, splitter=best;, score=0.650 total time=   0.0s
[CV 3/5] END criterion=poisson, max_features=auto, splitter=best;, score=0.696 total time=   0.0s
[CV 4/5] END criterion=poisson, max_features=auto, splitter=best;, score=0.751 total time=   0.0s
[CV 5/5] END criterion=poisson, max_features=auto, splitter=best;, score=0.681 total time=   0.0s
[CV 1/5] END criterion=poisson, max_features=auto, splitter=random;, score=0.633 total time=   0.0s
[CV 2/5] END criterion=poisson, max_features=auto, splitter=random;, score=0.520 total time=   0.0s
[CV 3/5] END criterion=poisson, max_features=auto, splitter=random;, score=0.673 total time=   0.0s
[CV 4/5] END criterion=poisson, max_features=auto, splitter=random;, score=0.634 total time=   0.0s
[CV 5/5] END criterion=poisson, max_features=auto, splitter=random;, score=0.675 total time=   0.0s
[CV 1/5] END criterion=poisson, max_features=sqrt, splitter=best;, score=0.646 total time=   0.0s
[CV 2/5] END criterion=poisson, max_features=sqrt, splitter=best;, score=0.542 total time=   0.0s
[CV 3/5] END criterion=poisson, max_features=sqrt, splitter=best;, score=0.640 total time=   0.0s
[CV 4/5] END criterion=poisson, max_features=sqrt, splitter=best;, score=0.599 total time=   0.0s
[CV 5/5] END criterion=poisson, max_features=sqrt, splitter=best;, score=0.684 total time=   0.0s
[CV 1/5] END criterion=poisson, max_features=sqrt, splitter=random;, score=0.608 total time=   0.0s
[CV 2/5] END criterion=poisson, max_features=sqrt, splitter=random;, score=0.574 total time=   0.0s
[CV 3/5] END criterion=poisson, max_features=sqrt, splitter=random;, score=0.632 total time=   0.0s
[CV 4/5] END criterion=poisson, max_features=sqrt, splitter=random;, score=0.629 total time=   0.0s
[CV 5/5] END criterion=poisson, max_features=sqrt, splitter=random;, score=0.584 total time=   0.0s
[CV 1/5] END criterion=poisson, max_features=log2, splitter=best;, score=0.591 total time=   0.0s
[CV 2/5] END criterion=poisson, max_features=log2, splitter=best;, score=0.447 total time=   0.0s
[CV 3/5] END criterion=poisson, max_features=log2, splitter=best;, score=0.633 total time=   0.0s
[CV 4/5] END criterion=poisson, max_features=log2, splitter=best;, score=0.560 total time=   0.0s
[CV 5/5] END criterion=poisson, max_features=log2, splitter=best;, score=0.568 total time=   0.0s
[CV 1/5] END criterion=poisson, max_features=log2, splitter=random;, score=0.694 total time=   0.0s
[CV 2/5] END criterion=poisson, max_features=log2, splitter=random;, score=0.525 total time=   0.0s
[CV 3/5] END criterion=poisson, max_features=log2, splitter=random;, score=0.660 total time=   0.0s
[CV 4/5] END criterion=poisson, max_features=log2, splitter=random;, score=0.622 total time=   0.0s
[CV 5/5] END criterion=poisson, max_features=log2, splitter=random;, score=0.705 total time=   0.0s

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [25]:
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [26]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.048920,0.010435,0.009880,0.002515,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.842922,0.766705,0.833321,0.810346,0.829677,0.816594,0.027100,9
1,0.411594,0.022252,0.023993,0.003750,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.847917,0.774656,0.857723,0.817121,0.837770,0.827037,0.029445,5
2,0.035003,0.006096,0.008378,0.000156,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.839229,0.756994,0.856646,0.801918,0.816851,0.814328,0.034230,11
3,0.269818,0.006393,0.022758,0.003164,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.856995,0.782198,0.861444,0.830583,0.839949,0.834234,0.028327,1
4,0.036360,0.003817,0.008499,0.000311,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.838772,0.763385,0.856210,0.803382,0.840011,0.820352,0.033301,7
5,0.281809,0.004650,0.023304,0.003379,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.858395,0.780168,0.861593,0.825072,0.837352,0.832516,0.029443,4
6,0.283076,0.010780,0.006680,0.003245,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.819311,0.753485,0.837509,0.808184,0.817077,0.807113,0.028457,12
7,2.792493,0.064659,0.020070,0.004023,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.837456,0.767457,0.849028,0.819374,0.836657,0.821994,0.028866,6
8,0.172683,0.008546,0.008473,0.000462,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.851711,0.760095,0.854666,0.795785,0.838265,0.820104,0.036649,8
9,1.604130,0.042216,0.020036,0.003906,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.857479,0.780283,0.859213,0.828017,0.840288,0.833056,0.028787,3
10,0.172297,0.012947,0.007617,0.000810,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.839373,0.761888,0.844175,0.805592,0.830205,0.816247,0.030259,10
11,1.616702,0.041227,0.022707,0.003049,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.859734,0.777090,0.855897,0.828241,0.845473,0.833287,0.030142,2

In [8]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:29
BMI:35
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [9]:
prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
prediction

C:\Users\poorn\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"

array([36197.699])

In [10]:
import pickle
filename="finalized_RFGRIDsearchCV_model.sav"
#writing the model in a new file
pickle.dump(grid,open(filename,'wb'))

In [11]:
loaded_modal=pickle.load(open("finalized_RFGRIDsearchCV_model.sav",'rb'))
result=loaded_modal.predict([[29,35,2,0,1]])
result

C:\Users\poorn\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"

array([36197.699])